.SpecialNode {
	position: absolute;
	background-color: blue;
	color: white;
	border: 1px solid #5280FF;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.Container {
	position: relative;
	float:left;
	top: 20px;
	left: 10px;
	padding: 5px;
	/*height: 200px;*/
	/*overflow: auto*/
}

.Container2 {
	/*position: relative;*/
	height: 600px;
	width: auto;
}

.error {
	width: 50px;
	color: white
}

/*
.header {
	position: relative;
	background-color: lightblue;
	border: 2px solid #5280FF;
	text-align: center;
	vertical-align: middle;
}

.title {
	color: Red;
	font-size: 40px;
	font-family: 'Oswald', Arial;
	text-shadow: 4px 4px 4px #aaa;
    padding: 2px;
}
*/

h3 {
	text-align: center;
	font-family: georgia;
	color: #727272;
	border-bottom: 2px solid #CAE7EE;
	padding: 5px;
	font-size: x-large;
	margin-top: 10px;
	cursor: initial;
}

th, td {
	padding: 1px;	
}

hr {
	border: thin solid #CAE7EE;
	margin: 5px;
}

.header {
	/*position: relative;*/
	background-color: #555; /* #D2E9FF;*/
	border: 1px solid #000;
	text-align: center;
	vertical-align: middle;
	cursor: initial;
	overflow: visible;
}

footer {
      background-color: #555;
	  border: 1px solid #5280FF;
      color: white;
      padding: 5px;
}

box {
      background-color: #fff;
      color: #888888;
      padding: 15px;
}

.title {
		color: White;
		font-size: 300%;
		font-family: 'Shadows Into Light', Arial;
		text-shadow: 2px 2px 2px #aaa;
		cursor: initial;
}

.subtitle {
		color: White;
        font-family: georgia;
        font-size: 150%;
		cursor: initial;
}


.left_button {
	float: left;
	margin: 10px
}
.right_button {
	float: right;
	margin: 10px
}

.view, .navbar
{
  padding: 2px; margin: 10px; 
}

@media screen {
  .noPrint{ display: block; }
  .view { font-size: 14px }
  .yesPrint{ display: block !important; }
}

@media print {
  .noPrint{ display: none; }
  .view { font-size: 8px }
  .yesPrint{ display: block !important; }
}