<style type="text/css">

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 10px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.carousel-caption {
  padding: 2px;
  bottom: 0px;
  width: 90%;
  left: 4%
}

.carousel-indicators {
  padding: 5px;
  bottom: -40px;
  width: 100%;
  left: 30%
}
</style>

<div class="view">
<div class="container theme-showcase" role="main">
<a title="Close" href="#ipv4" class="noPrint">
<input class="btn btn-danger btn-xs center" type="button" value="Close" />
</a>

    <!-- Carousel
    ================================================== -->

        <h1 class="alert-danger title">Visual-IPv4 : Schema Design Tool</h1>

        <div id="carousel-example-generic" class="carousel slide picture" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators" style="background: rgba(60, 48, 0, 0.7);">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          <li data-target="#carousel-example-generic" data-slide-to="5"></li>
          <li data-target="#carousel-example-generic" data-slide-to="6"></li>
          <!--<li data-target="#carousel-example-generic" data-slide-to="7"></li>
          <li data-target="#carousel-example-generic" data-slide-to="8"></li>-->
        </ol>
        <div class="carousel-inner" role="listbox">
          <div align='center' class="item active">
            <img class="pciture" align="middle" src="media/screen7.png" height="800px" alt="First slide">
            <div class="carousel-caption" style="font-size: large; margin: 2px; background: rgba(60, 48, 0, 0.7);">
                Visual-IPv4 is an interactive visual software tool to design Internet Protocol(IP) Schema for any size network. It utilizes latest web technologies, including HTML5 and JavaScript, to visualize any IPv4 (version 4) schema on web browsers and smart devices.
           </div>
        </div>

        <div align='center' class="item">
            <img align='center' src="media/GlobalManagement.png" height="500px" width="700px" alt="">
            <div class="carousel-caption" style="font-size: large;margin: 2px; background: rgba(60, 48, 0, 0.7);">
            <p>Global Management Example<br>Click <a href="media/GlobalManagement.png" target="_blank">here</a> to download png.</p>
            </div>
        </div>
        
        <div align='center' class="item">
            <img align='center' class="picture" src="media/GlobalTest.png" height="500" width="700" alt="">
            <div class="carousel-caption">
            <p style="font-size: large;margin: 2px; background: rgba(60, 48, 0, 0.7);">Global Test Network Example
                </p>
            </div>
          </div>

          <div align='center' class="item">
            <img align='center' class="picture" src="media/Global User.png" height="500" width="700" alt="">
            <div class="carousel-caption">
            <p style="font-size: large;margin: 2px; background: rgba(60, 48, 0, 0.7);">Global User Network Example
                </p>
            </div>
          </div>


          
        <div align='center' class="item">
            <img class="picture" align="middle"  src="media/Type User.png" height="500" width="700" alt="user">
            <div class="carousel-caption" style="font-size: large;margin: 2px; background: rgba(60, 48, 0, 0.7);">A Type User Schema Example
          </div>
        </div>

        <div align='center' class="item">
            <img align='center' class="picture" src="media/Office User Data wifi.png" height="500" width="700" alt="">
            <div class="carousel-caption">
            <p style="font-size: large;margin: 2px; background: rgba(60, 48, 0, 0.7);">An Office User Data Wi-fi network</p>
            </div>
         </div>

        <div align='center' class="item">
            <img align='center' class="picture" src="media/Office User Data ver dark.png" height="500" width="700" alt="">
            <div class="carousel-caption">
            <p style="font-size: large;margin: 2px; background: rgba(60, 48, 0, 0.7);">An Office User Wi-fi network</p>
            </div>
         </div>

        <a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- /.carousel -->
   </div>
      <footer class="footer">
        <p>&copy; 2016 and beyond.</p>
      </footer>
     <h2>References:</h2>
<!--	 
<p class="notranslate">[1] <em>JSmol: An open-source HTML5 viewer for chemical structures in 3D</em>. http://wiki.jmol.org/index.php/JSmol </p>

<p class="notranslate">
    [2] Moliner, M., Martínez, C. and Corma , A. (2015),<i>Multipore Zeolites: Synthesis and Catalytic Applications.</i>
    Angew. Chem. Int. Ed., 54: 3560–3579. doi:10.1002/anie.201406344
</p>

<p class="notranslate">
 [3] Li, K., Valla, J. and Garcia-Martinez, J. (2014), <i>Realizing the Commercial Potential of Hierarchical Zeolites:
    New Opportunities in Catalytic Cracking.</i> ChemCatChem, 6: 46–66. doi:10.1002/cctc.201300345
</p>


<p class="notranslate">[4] Baerlocher, C. and McCusker, L. Database of Zeolite Structures. <a href="http://www.iza-structure.org/databases/" target="_blank">
    http://www.iza-structure.org/databases/</a>, 2016. Accessed on Jan 20, 2016.
          <a href="http://izasc.ethz.ch/fmi/xsl/IZA-SC/ftc_fw.xsl?-db=Atlas_main&-lay=fw&-max=25&STC=MFI&-find" target="_blank">Framework Type
              <span class="notranslate">MFI</span></a> (Material: <span class="notranslate">ZSM-5</span>)
</p>

<p class="notranslate">[5] First, E. L., Gounaris, C. E., Wei, J., and Floudas, C. A. <a href="http://dx.doi.org/10.1039/c1cp21731c" target="_blank">
    Computational characterization of zeolite porous networks: an automated approach</a>. <em>Physical Chemistry Chemical Physics</em>,
    13(38):17339&#8211;17358, 2011.</p>


<p class="notranslate">[6] Shane P. Tully, Thomas M. Stitt, Robert D. Caldwell, Brian J. Hardock, Robert M. Hanson, and Przemyslaw Maslak:
    <i>Interactive web-based pointillist visualization of hydrogenic orbitals using Jmol</i>.
    <b>Journal of Chemical Education</b> 90, 129-131 (2013). doi:10.1021/ed300393s
</p>
<p>More simulation GIFs:  <a href="media/grid_5-z-MEL.gif" target="_blank">Random Grid 5 x 5 z-axis MEL Framework</a>
    and <a href="media/grid_3-x-MEL.gif" target="_blank">Grid 3 x 3 x-axis MEL Framework</a>
</p>
-->
</div>

</div>
