<style>
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td
{
  padding: 2px;
}

.row {
  margin: 10px;
}

</style>

<style>
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 0px;
}

h4 {font-size: 15px }

.panel, .panel-footer, .panel-body, .table, .panel-heading
{
  padding: 1px; margin-top: 1px; margin-bottom: 1px; 
}

  .box {
      background-color: #fff;
      color: #888888;
      padding: 12px;
      vertical-align:middle; 
      text-align: center;
}

.black {
    background:black;
    color: #fff;
    text-align: center;
    padding: 12px;
}

.white {
    background:white;
    color: #000;
    text-align: center;
    padding: 12px;
}

.snow {
    background:white;
    color: #000;
    text-align: center;
    padding: 12px;
}

.yellow {
    background: #FFEB3B;
    color: #000;
    text-align: center;
    padding: 12px;
}
.red {
    background:#FA2021;
    color: #000;
    text-align: center;
    padding: 12px;
}

.green {
    background:#228B22;
    color: #000;
    text-align: center;
    padding: 12px;
}

.lime {
    background:#00FF00;
    color: #000;
    text-align: center;
    padding: 12px;
}

.hotpink {
    background:#FF69B4;
    color: #000;
    text-align: center;
    padding: 12px;
}

.darkred {
    background:#8B0000;
    color: #fff;
    text-align: center;
    padding: 12px;
}

</style>

 <div class="row">
    
    <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span ng-click="list=!list"> <i ng-hide="list" class="glyphicon glyphicon-plus-sign"></i><i ng-show="list" class="glyphicon glyphicon-minus-sign"></i> Harmony Map List</span>
                </h4>
            </div>
            <div ng-show="list">
                <div class="panel-body">

	<div class="col-md-12" ng-show="maps.length > 0">
    
        <table class="table table-striped table-responsive table-condensed table-bordered">
        <thead>
        <th>Name&nbsp;</th>
        <th>Email&nbsp;</th>
        <th>Date&nbsp;</th>
        <th>host&nbsp;</th>
        <th>Score&nbsp;</th>
        <th>Action&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in maps">
                <td>{{user.id}} - {{user.name}}</td>
                <td>{{user.user}}</td>
                <td>{{user.login_date}}</td>
                <td>{{user.hostname}}</td>
                <td>{{user.status}}</td>
                <td>
                    <button class="btn btn-info btn-sm" ng-click="showMap(user.data, user.status)">&nbsp;<i class="glyphicon glyphicon-files"></i>&nbsp; Show Maps</button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="maps.length == 0">
        <div class="col-md-12">
            <h4>No Records found</h4>
        </div>
    </div>
   </div>	
                </div>
    </div>	<!--panel -->

    <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span ng-click="map=!map"> <i ng-hide="map" class="glyphicon glyphicon-plus-sign"></i><i ng-show="map" class="glyphicon glyphicon-minus-sign"></i> Harmony Map </span>
                </h4>
            </div>
            <div ng-show="map">
                <div class="panel-body">	

				
<span ng-repeat="data in map_box" style="display: inline-block; vertical-align: top; margin: 5px; padding: 0px; ">
<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h3>{{data.title}} {{data.score}}</h3>
    </div>
    <div class="panel-body">
    
        <table style="background-color:#dff0d8;">
<tr>
    <th style="padding:1px; text-align: center; background-color:#000; color: white">
<span style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Need</span><br>Age</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-default">Physical</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-primary"> Social </span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-info">Spiritual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-warning">Intellectual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-danger">Emotional</span></h4>
</th>
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#D3D3D3">0 - 6</th>
    <th id='{{data.elem}}0' class="snow">U</th>
    <th id='{{data.elem}}1' class="snow">U</th>
    <th id='{{data.elem}}2' class="white">U</th>
    <th id='{{data.elem}}3' class="white">U</th>
    <th id='{{data.elem}}4' class="white">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#C0C0C0">7 - 10</th>
    <th id='{{data.elem}}5' class="snow">U</th>
    <th id='{{data.elem}}6' class="snow">U</th>
    <th id='{{data.elem}}7' class="white">U</th>
    <th id='{{data.elem}}8' class="white">U</th>
    <th id='{{data.elem}}9' class="white">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#A9A9A9">11 - 15</th>
    <th id='{{data.elem}}10' class="snow">U</th>
    <th id='{{data.elem}}11' class="snow">U</th>
    <th id='{{data.elem}}12' class="white">U</th>
    <th id='{{data.elem}}13' class="white">U</th>
    <th id='{{data.elem}}14' class="white">U</th>   
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#808080; color: white">16 - 18</th>
    <th id='{{data.elem}}15' class="snow">U</th>
    <th id='{{data.elem}}16' class="snow">U</th>
    <th id='{{data.elem}}17' class="white">U</th>
    <th id='{{data.elem}}18' class="white">U</th>
    <th id='{{data.elem}}19' class="white">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#696969; color: white">19 - 22</th>
    <th id='{{data.elem}}20' class="snow">U</th>
    <th id='{{data.elem}}21' class="snow">U</th>
    <th id='{{data.elem}}22' class="white">U</th>
    <th id='{{data.elem}}23' class="white">U</th>
    <th id='{{data.elem}}24' class="white">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#696969; color: white">23 - up</th>
    <th id='{{data.elem}}25' class="snow">U</th>
    <th id='{{data.elem}}26' class="snow">U</th>
    <th id='{{data.elem}}27' class="white">U</th>
    <th id='{{data.elem}}28' class="white">U</th>
    <th id='{{data.elem}}29' class="white">U</th>     
</tr>
</table>
</div>
<!--<div class="panel-footer">
        <div class="label-warning text-right"><h4>Stats</h4></div>
      </div>-->
</div>
</span>
<br>
<span style="display: inline-block; vertical-align: top; margin: 0px; padding: 10px">
<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h2>Family Info</h2>
    </div>
    <div class="panel-body text-center">
        <form role="form" name="myForm" class="form-horizontal" > <fieldset disabled>
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-3"> Family Name </label>
                    <div class="col-xs-5">
                        <input name="name" ng-model="user.name" ng-maxlength="50" type="text" class="form-control input-sm" placeholder="Any name you can remember" />
                        <!--<span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Optional</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3"> Email address </label>
                    <div class="col-xs-5">
                        <input name="email" ng-model="user.email" type="email" class="form-control input-sm" placeholder="Enter email" />
                        <!--<span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Optional</span>-->
                        <!--<span ng-show="myForm.email.$dirty && myForm.email.$error.email" class="help-inline">Email is not valid</span>-->
                     </div>   
                    <div ng-show="myForm.email.$dirty && myForm.email.$invalid" class="col-xs-3">Email is not valid</div>                    
                </div>

                <div class="form-group">
                    <label class="col-xs-3">State/Country </label>
                    <div class="col-xs-3">
                        <input ng-model="user.state" ng-maxlength="50" type="text" class="form-control input-sm" placeholder="State/Country"
                        />
                    </div>
                    <label class="col-xs-2">City </label>
                    <div class="col-xs-3">
                        <input ng-model="user.city" ng-maxlength="50" type="text" class="form-control input-sm" placeholder="City" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2">Father's Age </label>
                    <div class="col-xs-2">
                    <input class="form-control" ng-model="user.age1" type="number" maxlength = "3" min="0" placeholder= "Age"/>
</div>
<label class="col-xs-1">Ethnicity</label>
<div class="col-xs-2">
    <input ng-model="user.eth1" ng-maxlength="25" type="text" class="form-control input-sm" placeholder="Ethnicity" />
</div>
<label class="col-xs-1">Religion</label>
<div class="col-xs-2">
    <input ng-model="user.rel1" ng-maxlength="25" type="text" class="form-control input-sm" placeholder="Religion" />
</div>
</div>
<div class="form-group">
    <label class="col-xs-2">Mother's Age </label>
    <div class="col-xs-2">
        <input class="form-control input-sm" ng-model="user.age2" type="number" maxlength = "3" min="0" placeholder= "Age"/>
</div>
<label class="col-xs-1">Ethnicity</label>
<div class="col-xs-2">
    <input ng-model="user.eth2" ng-maxlength="25" type="text" class="form-control input-sm" placeholder="Ethnicity" />
</div>
<label class="col-xs-1">Religion</label>
<div class="col-xs-2">
    <input ng-model="user.rel2" ng-maxlength="25" type="text" class="form-control input-sm" placeholder="Religion" />
</div>
</div>
<div class="form-group">
    <label class="col-xs-3">No. of Boys</label>
    <div class="col-xs-2">
        <input class="form-control" ng-model="user.boys" type="number"  maxlength = "2" min="0" placeholder= "Boys"/>
</div>
<label class="col-xs-3">No. of Girls</label>
<div class="col-xs-3">
    <input class="form-control input-sm" ng-model="user.girls" type="number"  maxlength = "2" min="0" placeholder= "Girls"/>
</div>

</div>
</fieldset>
</form>
				 
                </div>
			</div>	
			</div>
</span>
				 
                </div>
			</div>	
    </div>	<!--panel -->	
</div>