<style>
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 0px;
}

h4 {font-size: 15px }

.panel, .panel-footer, .panel-body, .table, .panel-heading
{
  padding: 1px; margin-top: 1px; margin-bottom: 1px; 
}

  .form-horizontal input.ng-invalid.ng-dirty {
    border-color: #FA787E;
  }

  .form-horizontal input.ng-valid.ng-dirty {
    border-color: #78FA89;
  }

  .box {
      background-color: #fff;
      color: #888888;
      padding: 15px;
      vertical-align:middle; 
      text-align: center;
}


.black {
    background:black;
    color: #fff;
    text-align: center;
    padding: 12px;
}

.white {
    background:white;
    color: #000;
    text-align: center;
    padding: 12px;
}

.snow {
    background:white;
    color: #000;
    text-align: center;
    padding: 12px;
}

.yellow {
    background: #FFEB3B;
    color: #000;
    text-align: center;
    padding: 12px;
}
.red {
    background:#FA2021;
    color: #000;
    text-align: center;
    padding: 12px;
}

.green {
    background:#228B22;
    color: #000;
    text-align: center;
    padding: 12px;
}

.lime {
    background:#00FF00;
    color: #000;
    text-align: center;
    padding: 12px;
}

.hotpink {
    background:#FF69B4;
    color: #000;
    text-align: center;
    padding: 12px;
}

.darkred {
    background:#8B0000;
    color: #fff;
    text-align: center;
    padding: 12px;
}

</style>

<script>
    function maxLengthCheck(object) {
        if (object.value.length > object.maxLength)
            object.value = object.value.slice(0, object.maxLength)
    }

    function isNumeric(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }


</script>

<div class="view" id='papp' style="width: 100%;height: 100%">
<script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();
    init();
</script>

<div id="sample">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" data-target="#parent" onclick="$('#parent').show();$('#children').hide();$('#map').hide();$('#info').hide();">Parent</a></li>
        <li>
            <a data-toggle="tab" data-target="#children" onclick="$('#children').show();$('#parent').hide();$('#map').hide();$('#info').hide();">Children</a>
</li>
<li>
    <a data-toggle="tab" data-target="#info" onclick="$('#info').show();$('#children').hide();$('#parent').hide();$('#map').hide();" >Family Info</a>
</li>
<li>
    <a ng-hide="isDirty()" data-toggle="tab" data-target="#map" onclick="$('#map').show();$('#parent').hide();$('#children').hide();$('#info').hide();">Family Harmony</a>
</li>

</ul>

<div class="tab-content">
    <div id="parent" class="tab-pane active" style="width:100%; white-space:nowrap">
<ul>
<li>This map should be filled jointly by both parents. In case <br>
of separated/divorced couples, a single parent can fill it alone.</li>
<li>Please read the Legend below to familiarize yourself with<br> 
the different attributes describing each parenting aspect.</li>
<li>Choose a color (Green, yellow, red by repeat clicking on the box) <br>
    that best describes your parenting style during each of your <br> 
    child(ren) specific age periods. with Green being critical to you, <br>
    yellow being important but not critical, red being totally ignored. <br>
    Leaving the box blank means you don’t know/not sure! <br>
    And it will not contribute to your total parenting score.</li>
<li>Make sure all boxes are filled before submitting your <br>
final maps to get a representative score.</li>
    </ul>
<span style="display: inline-block; vertical-align: top; margin: 0px; padding: 0px; ">

<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h2>Parents</h2>
    </div>
    <div class="panel-body">
      
        <table style="background-color:#dff0d8;">
<tr>
    <th style="padding:1px; text-align: center; background-color:#000; color: white">
<span style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Need</span><br>Age</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-default">Physical</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-primary"> Social </span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-info">Spiritual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-warning">Intellectual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-danger">Emotional</span></h4>
</th>
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#D3D3D3">0 - 6</th>
    <th class="white" onclick="pToggle(this, 0, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 1, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 2, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 3, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 4, 'parent')">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#C0C0C0">7 - 10</th>
    <th class="white" onclick="pToggle(this, 5, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 6, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 7, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 8, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 9, 'parent')">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#A9A9A9">11 - 15</th>
    <th class="white" onclick="pToggle(this, 10, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 11, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 12, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 13, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 14, 'parent')">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#808080; color: white">16 - 18</th>
    <th class="white" onclick="pToggle(this, 15, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 16, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 17, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 18, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 19, 'parent')">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#696969; color: white">19 - 22</th>
    <th class="white" onclick="pToggle(this, 20, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 21, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 22, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 23, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 24, 'parent')">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#494949; color: white">23 - up</th>
    <th class="white" onclick="pToggle(this, 25, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 26, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 27, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 28, 'parent')">U</th>
    <th class="white" onclick="pToggle(this, 29, 'parent')">U</th>     
</tr>
</table>
</div>
<!--<div class="panel-footer">
        <div class="label-warning text-right"><h4>Stats</h4></div>
      </div>-->
</div>
</span>

</div>
<!--</span>

    -->
<div id="children" class="tab-pane active" style="width:100%; white-space:nowrap">
    <ul>
    <li>Please read the Legend below to familiarize yourself with the different attributes describing each of your needs</li>
<li>	Fill all the boxes below starting from age 1 until your current age. For example, if you are 17 years or younger, <br> then you must fill all the boxes from age 0 until age (16-18).</li>
<li>	Choose a color (Green, yellow, red) that best describes what was/is important to you during each of the specific age <br> periods with Green being critical, yellow being important but not critical, red being totally ignored. <br>Leaving the box blank means you don’t know/not sure! A box that is left blank will not contribute to the overall family harmony map.</li>
<li>	Make sure all boxes are filled before submitting your final maps to get a representative score.</li>
</ul>
<span style="display: inline-block; vertical-align: top; margin: 5px; padding: 0px; ">

<div class="panel panel-info">
    <div class="panel-heading text-center">
        <h2>Children - Boys</h2>
    </div>
    <div class="panel-body text-center">
        <table style="text-align: center;background-color:#d9edf7;">
<tr>
    <th style="padding:1px; text-align: center; background-color:#000; color: white">
<span style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Need</span><br>Age</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-default">Physical</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-primary"> Social </span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-info">Spiritual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-warning">Intellectual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-danger">Emotional</span></h4>
</th>
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#D3D3D3">0 - 6</th>
    <th class="white" onclick="pToggle(this, 0, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 1, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 2, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 3, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 4, 'children-boys')">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#C0C0C0">7 - 10</th>
    <th class="white" onclick="pToggle(this, 5, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 6, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 7, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 8, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 9, 'children-boys')">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#A9A9A9">11 - 15</th>
    <th class="white" onclick="pToggle(this, 10, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 11, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 12, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 13, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 14, 'children-boys')">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#808080; color: white">16 - 18</th>
    <th class="white" onclick="pToggle(this, 15, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 16, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 17, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 18, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 19, 'children-boys')">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#696969; color: white">19 - 22</th>
    <th class="white" onclick="pToggle(this, 20, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 21, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 22, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 23, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 24, 'children-boys')">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#494949; color: white">23 - up</th>
    <th class="white" onclick="pToggle(this, 25, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 26, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 27, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 28, 'children-boys')">U</th>
    <th class="white" onclick="pToggle(this, 29, 'children-boys')">U</th>     
</tr>
</table>
</div>
<!--<div class="panel-footer">
        <div class="label-warning text-right"><h4>Stats</h4></div>
      </div>-->
</div>
</span>

<span style="display: inline-block; vertical-align: top; margin: 5px; padding: 0px; ">
<div class="panel panel-warning">
    <div class="panel-heading text-center">
        <h2>Children - Girls</h2>
    </div>
    <div class="panel-body">
        <table style="background-color:#fcf8e3;">
<tr>
    <th style="padding:1px; text-align: center; background-color:#000; color: white">
<span style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Need</span><br>Age</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-default">Physical</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-primary"> Social </span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-info">Spiritual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-warning">Intellectual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-danger">Emotional</span></h4>
</th>
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#D3D3D3">0 - 6</th>
    <th class="white" onclick="pToggle(this, 0, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 1, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 2, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 3, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 4, 'children-girls')">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#C0C0C0">7 - 10</th>
    <th class="white" onclick="pToggle(this, 5, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 6, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 7, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 8, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 9, 'children-girls')">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#A9A9A9">11 - 15</th>
    <th class="white" onclick="pToggle(this, 10, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 11, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 12, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 13, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 14, 'children-girls')">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#808080; color: white">16 - 18</th>
    <th class="white" onclick="pToggle(this, 15, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 16, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 17, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 18, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 19, 'children-girls')">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#696969; color: white">19 - 22</th>
    <th class="white" onclick="pToggle(this, 20, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 21, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 22, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 23, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 24, 'children-girls')">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#494949; color: white">23 - up</th>
    <th class="white" onclick="pToggle(this, 25, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 26, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 27, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 28, 'children-girls')">U</th>
    <th class="white" onclick="pToggle(this, 29, 'children-girls')">U</th>     
</tr>
</table>
</div>
<!--<div class="panel-footer">
        <div class="label-warning text-right"><h4>Stats</h4></div>
      </div>-->
</div>
</span>

</div>

<div id="map" class="tab-pane active" style="width:100%; white-space:nowrap">

<span style="display: inline-block; vertical-align: top; margin: 5px; padding: 0px; ">
<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h2>Parent Score Map</h2>
    </div>
    <div class="panel-body">
This map reflects your parenting style, highlights strengths and <br> identifies gaps for you to work on. <br>
The total score is based on a reference parenting map designed<br> for each age group.         
        <table style="background-color:#dff0d8;">
<tr>
    <th style="padding:1px; text-align: center; background-color:#000; color: white">
<span style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Need</span><br>Age</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-default">Physical</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-primary"> Social </span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-info">Spiritual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-warning">Intellectual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-danger">Emotional</span></h4>
</th>
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#D3D3D3">0 - 6</th>
    <th id='p0' class="snow">U</th>
    <th id='p1' class="snow">U</th>
    <th id='p2' class="white">U</th>
    <th id='p3' class="white">U</th>
    <th id='p4' class="white">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#C0C0C0">7 - 10</th>
    <th id='p5' class="snow">U</th>
    <th id='p6' class="snow">U</th>
    <th id='p7' class="white">U</th>
    <th id='p8' class="white">U</th>
    <th id='p9' class="white">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#A9A9A9">11 - 15</th>
    <th id='p10' class="snow">U</th>
    <th id='p11' class="snow">U</th>
    <th id='p12' class="white">U</th>
    <th id='p13' class="white">U</th>
    <th id='p14' class="white">U</th>   
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#808080; color: white">16 - 18</th>
    <th id='p15' class="snow">U</th>
    <th id='p16' class="snow">U</th>
    <th id='p17' class="white">U</th>
    <th id='p18' class="white">U</th>
    <th id='p19' class="white">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#696969; color: white">19 - 22</th>
    <th id='p20' class="snow">U</th>
    <th id='p21' class="snow">U</th>
    <th id='p22' class="white">U</th>
    <th id='p23' class="white">U</th>
    <th id='p24' class="white">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#696969; color: white">23 - up</th>
    <th id='p25' class="snow">U</th>
    <th id='p26' class="snow">U</th>
    <th id='p27' class="white">U</th>
    <th id='p28' class="white">U</th>
    <th id='p29' class="white">U</th>     
</tr>
</table>
</div>
<!--<div class="panel-footer">
        <div class="label-warning text-right"><h4>Stats</h4></div>
      </div>-->
</div>
</span>
<span style="display: inline-block; vertical-align: middle; margin: 5px; padding: 0px; width:350px;height:400px;color: #000"><br><br>
<span style="padding: 15px; vertical-align:middle; text-align: center;background-color:#00FF00;"> H </span>&nbsp;&nbsp;Harmonious/Excellent<br><br><br>
<span style="padding: 15px; vertical-align:middle; text-align: center;background-color:#FF69B4;"> R </span>&nbsp;&nbsp;Friction/Good<br><br><br>
<span style="padding: 15px; vertical-align:middle; text-align: center;background-color:#8B0000;color: #fff;"> X </span>&nbsp;&nbsp;Conflict/Poor<br><br><br>
<span style="padding: 15px; vertical-align:middle; text-align: center;background-color:#000000;color: #fff;"> N </span>&nbsp;&nbsp;Passive relationship<br><br><br>
<span style="padding: 15px; vertical-align:middle; text-align: center;background-color:#FFFAFA; border: 1px solid black"> U </span>&nbsp;&nbsp;Undecided or N/A<br><br><br>

<h1><span style="padding: 15px; vertical-align:middle; text-align: center;color: #00AA00; background-color:#FFFAFA; border: 1px solid black">Parent Score: {{ getpScore() }} </span></h1>
<br><br>
<button type="submit" ng-hide="isAllowUpdate()" ng-click="allowUpdate();" class="btn btn-danger">Allow Update</button>
</span><br>
 

<span style="display: inline-block; vertical-align: top; margin: 5px; padding: 0px;">
<div class="panel panel-info">
    <div class="panel-heading text-center">
        <h2>Family Harmony - Boys ({{getbScore()}})</h2>
    </div>
    <div class="panel-body text-center">
These maps should only be used as indicators for areas of harmony,<br> tension and conflict 
within a family and should not be used as <br> indicators of the quality of the parenting style. 
        <table style="text-align: center;background-color:#d9edf7;">
<tr>
    <th style="padding:1px; text-align: center; background-color:#000; color: white">
<span style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Need</span><br>Age</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-default">Physical</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-primary"> Social </span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-info">Spiritual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-warning">Intellectual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-danger">Emotional</span></h4>
</th>
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#D3D3D3">0 - 6</th>
    <th id='b0' class="snow">U</th>
    <th id='b1' class="snow">U</th>
    <th id='b2' class="white">U</th>
    <th id='b3' class="white">U</th>
    <th id='b4' class="white">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#C0C0C0">7 - 10</th>
    <th id='b5' class="snow">U</th>
    <th id='b6' class="snow">U</th>
    <th id='b7' class="white">U</th>
    <th id='b8' class="white">U</th>
    <th id='b9' class="white">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#A9A9A9">11 - 15</th>
    <th id='b10' class="snow">U</th>
    <th id='b11' class="snow">U</th>
    <th id='b12' class="white">U</th>
    <th id='b13' class="white">U</th>
    <th id='b14' class="white">U</th>   
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#808080; color: white">16 - 18</th>
    <th id='b15' class="snow">U</th>
    <th id='b16' class="snow">U</th>
    <th id='b17' class="white">U</th>
    <th id='b18' class="white">U</th>
    <th id='b19' class="white">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#696969; color: white">19 - 22</th>
    <th id='b20' class="snow">U</th>
    <th id='b21' class="snow">U</th>
    <th id='b22' class="white">U</th>
    <th id='b23' class="white">U</th>
    <th id='b24' class="white">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#696969; color: white">23 - up</th>
    <th id='b25' class="snow">U</th>
    <th id='b26' class="snow">U</th>
    <th id='b27' class="white">U</th>
    <th id='b28' class="white">U</th>
    <th id='b29' class="white">U</th>     
</tr>
</table>
</div>
<!--<div class="panel-footer">
        <div class="label-warning text-right"><h4>Stats</h4></div>
      </div>-->
</div>
</span>

<span style="display: inline-block; vertical-align: top; margin: 5px; padding: 0px; ">
<div class="panel panel-warning">
    <div class="panel-heading text-center">
        <h2>Family Harmony - Girls ({{getgScore()}})</h2>
    </div>
    <div class="panel-body">
For example, parents who score very high on the Family Harmony <br> Map can still receive a very low parenting score!               
        <table style="background-color:#fcf8e3;">
<tr>
    <th style="padding:1px; text-align: center; background-color:#000; color: white">
<span style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Need</span><br>Age</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-default">Physical</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-primary"> Social </span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-info">Spiritual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-warning">Intellectual</span></h4>
</th>
<th style="width:66px; vertical-align:middle; text-align: center;">
<h4><span class="label label-danger">Emotional</span></h4>
</th>
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#D3D3D3">0 - 6</th>
    <th id='g0' class="snow">U</th>
    <th id='g1' class="snow">U</th>
    <th id='g2' class="snow">U</th>
    <th id='g3' class="snow">U</th>
    <th id='g4' class="snow">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#C0C0C0">7 - 10</th>
    <th id='g5' class="snow">U</th>
    <th id='g6' class="snow">U</th>
    <th id='g7' class="snow">U</th>
    <th id='g8' class="snow">U</th>
    <th id='g9' class="snow">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#A9A9A9">11 - 15</th>
    <th id='g10' class="snow">U</th>
    <th id='g11' class="snow">U</th>
    <th id='g12' class="snow">U</th>
    <th id='g13' class="snow">U</th>
    <th id='g14' class="snow">U</th>   
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#808080; color: white">16 - 18</th>
    <th id='g15' class="snow">U</th>
    <th id='g16' class="snow">U</th>
    <th id='g17' class="snow">U</th>
    <th id='g18' class="snow">U</th>
    <th id='g19' class="snow">U</th>    
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#696969; color: white">19 - 22</th>
    <th id='g20' class="snow">U</th>
    <th id='g21' class="snow">U</th>
    <th id='g22' class="snow">U</th>
    <th id='g23' class="snow">U</th>
    <th id='g24' class="snow">U</th>     
</tr>
<tr>
    <th style="padding:2px;text-align: center; background-color:#696969; color: white">23 - up</th>
    <th id='g25' class="snow">U</th>
    <th id='g26' class="snow">U</th>
    <th id='g27' class="snow">U</th>
    <th id='g28' class="snow">U</th>
    <th id='g29' class="snow">U</th>     
</tr>
</table>
</div>
<!--<div class="panel-footer">
        <div class="label-warning text-right"><h4>Stats</h4></div>
      </div>-->
</div>
</span>

</div>


<div id="info" class="tab-pane active" style="width:100%; white-space:nowrap">
<!--<div style="width:100%; white-space:nowrap">-->
<span style="display: inline-block; vertical-align: top; margin: 0px; padding: 10px; width: 700px">
<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h2>Family Info</h2>
    </div>
    <div class="panel-body text-center">
        <form role="form" name="myForm" class="form-horizontal" ng-submit="saveUser(customer);">
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-3"> Family Name </label>
                    <div class="col-xs-5">
                        <input name="name" ng-model="customer.name" ng-maxlength="50" type="text" class="form-control input-sm" placeholder="Any name you can remember" />
                        <!--<span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">Name Optional</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3"> Email address </label>
                    <div class="col-xs-5">
                        <input name="email" ng-model="customer.email" type="email" class="form-control input-sm" placeholder="Enter email" />
                        <!--<span ng-show="myForm.email.$dirty && myForm.email.$invalid && !myForm.email.$error.email" class="help-inline">Email Optional</span>-->
                        <!--<span ng-show="myForm.email.$dirty && myForm.email.$error.email" class="help-inline">Email is not valid</span>-->
                     </div>   
                    <div ng-show="myForm.email.$dirty && myForm.email.$invalid" class="col-xs-3">Email is not valid</div>                    
                </div>

                <div class="form-group">
                    <label class="col-xs-3">State/Country </label>
                    <div class="col-xs-3">
                        <input ng-model="customer.state" ng-maxlength="50" type="text" class="form-control input-sm" placeholder="State/Country"
                        />
                    </div>
                    <label class="col-xs-2">City </label>
                    <div class="col-xs-3">
                        <input ng-model="customer.city" ng-maxlength="50" type="text" class="form-control input-sm" placeholder="City" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2">Father's Age </label>
                    <div class="col-xs-2">
                    <input class="form-control" ng-model="customer.age1" type="number" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength = "3" min="0" placeholder= "Age"/>
</div>
<label class="col-xs-1">Ethnicity</label>
<div class="col-xs-2">
    <input ng-model="customer.eth1" ng-maxlength="25" type="text" class="form-control input-sm" placeholder="Ethnicity" />
</div>
<label class="col-xs-1">Religion</label>
<div class="col-xs-2">
    <input ng-model="customer.rel1" ng-maxlength="25" type="text" class="form-control input-sm" placeholder="Religion" />
</div>
</div>
<div class="form-group">
    <label class="col-xs-2">Mother's Age </label>
    <div class="col-xs-2">
        <input class="form-control input-sm" ng-model="customer.age2" type="number" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength = "3" min="0" placeholder= "Age"/>
</div>
<label class="col-xs-1">Ethnicity</label>
<div class="col-xs-2">
    <input ng-model="customer.eth2" ng-maxlength="25" type="text" class="form-control input-sm" placeholder="Ethnicity" />
</div>
<label class="col-xs-1">Religion</label>
<div class="col-xs-2">
    <input ng-model="customer.rel2" ng-maxlength="25" type="text" class="form-control input-sm" placeholder="Religion" />
</div>
</div>
<div class="form-group">
    <label class="col-xs-3">No. of Boys</label>
    <div class="col-xs-2">
        <input class="form-control" ng-model="customer.boys" type="number" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength = "2" min="0" placeholder= "Boys"/>
</div>
<label class="col-xs-3">No. of Girls</label>
<div class="col-xs-3">
    <input class="form-control input-sm" ng-model="customer.girls" type="number" onkeypress="isNumeric(event)" oninput="maxLengthCheck(this)" maxlength = "2" min="0" placeholder= "Girls"/>
</div>

</div>
<!-- 
<div class= "form-group">
    <label class="col-md-2">Contact person</label>
    <div class="col-md-4">
    <input ng-model="customer.contact_person" ng-maxlength="50" type= "text" class= "form-control" placeholder= "Contact person"/>
    </div>
    <label class="col-md-2">Contact person 2</label>
    <div class="col-md-4">
    <input ng-model="customer.contact_person2" ng-maxlength="50" type= "text" class= "form-control" placeholder= "Contact person 2"/>
    </div>
    
</div>
    <div ng-show="_id==0" class="form-group"><hr>
        <label class="col-md-2" for="username">Username</label>
        <div class="col-md-4">
        <input type="text" name="username" id="username" class="form-control" 
           ng-minlength="6"  ng-maxlength="25" ng-model="customer.user" placeholder= "6-25 chars" required />
        </div>   
        <div class="help-inline col-md-4">Username is required (6-20 chars)</div>       
        
    </div>
   <div ng-show="_id==0" class="form-group">
        <label class="col-md-2" for="password">Password</label>
        <div class="col-md-4">
        <input type="password" name="password" id="password" class="form-control"  
           ng-minlength="6"  ng-maxlength="20" ng-model="customer.password" placeholder= "6-20 chars" required />
        </div>
        <div class="help-inline col-md-4">Password is required (6-20 chars)</div>        
    </div>
    <div ng-show="_id==0" class="form-group">
        <label class="col-md-2" for="new_password">Confirm Password</label>
        <div class="col-md-4">
        <input type="password" name="new_password" id="new_password" class="form-control"
           ng-minlength="6"  ng-maxlength="20" maxlength=20 ng-model="new_password" placeholder= "6-20 chars" required
               compare-to="customer.password"/>
        </div>
        <div ng-show="myForm.new_password.$dirty && myForm.new_password.$error.compareTo" style="color: #ff2832" class="help-inline col-md-4">
            Password mismatch!</div>
    </div>-->

<div class="form-group">
    <label class="col-xs-1"></label>
    <div class="col-xs-10">
        <!--<a href="#/" class="btn">Cancel</a>-->
        <button type="submit" ng-disabled="myForm.$invalid" ng-show="isAllowUpdate()" class="btn btn-lg btn-primary">Submit</button>
        <br><h4><span class="label label-primary">Name and email are optional. Please use appropaite values for other fields.</span>
        <br><span class="label label-danger">To see the final Family map, please make sure the Parent and Children<br>maps are filled before submitting this form</span></h4>
    </div>
</div> 

</div>
</form>
</div>
</div>
</span>
</div>

</div><!-- tabs end -->

<table >
<tr>
    <td>
        <h4>
            <span class="label label-default">Physical       : Food - Drinks - Toys - Gadgets – Games – Sports - Clothes – Makeup – <br> Movies - Watching TV – Interest in Boys – Interest in Girls</span><br><br>
            <span class="label label-primary">Social         : Independence – Well Mannered – Helping others – Participation – Collaboration –<br> Communication - Involvement</span><br><br>
            <span class="label label-info">Spiritual      : Pray - Fast – Read the holy book – regularly visit the place of worship – <br>Watch/listen religious talks – Being conservative – Being religious</span><br><br>
            <span class="label label-warning">Intellectual : Competence – wisdom – Logic – Reason - Ask the why, the how & the what questions</span><br><br>
            <span class="label label-danger">Emotional   : Happy - Secure – Calm – Motivated – Ambitious – Angry – Depressed - Bored –<br> Scared - Anxious </span>
        </h4>
    </td>
    <th style="padding: 5px; color: #000 "><br>
<span style="padding: 15px; vertical-align:middle; text-align: center;background-color:#228B22;"> C </span>&nbsp;&nbsp;Critical<br><br><br>
<span style="padding: 15px; vertical-align:middle; text-align: center;background-color:#FFEB3B;"> &nbsp;I&nbsp; </span>&nbsp;&nbsp;Important but not critical<br><br><br>
<span style="padding: 15px; vertical-align:middle; text-align: center;background-color:#FA2021;"> F </span>&nbsp;&nbsp;Forget/Ignore<br><br><br>
<span style="padding: 15px; vertical-align:middle; text-align: center;background-color:#FFFFFF; border: 1px solid black"> U </span>&nbsp;&nbsp;Undecided or N/A<br><br>
</th>
</tr>
</table>

</div>