<style>
table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 0px;
}

.panel, .panel-footer, .panel-body, .table, .panel-heading
{
  padding: 1px; margin-top: 1px; margin-bottom: 1px; 
}

</style>

<div class="view">
    <span style="display: inline-block; vertical-align: top; margin: 0px; padding: 0px; ">  
     <div class="panel panel-success">
      <div class="panel-heading text-center"><h2>Parents</h2></div>
      <div class="panel-body">        
        <table style="background-color:#dff0d8;">
            <tr><th style="padding:1px; text-align: center; background-color:#000; color: white">
                <span style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Need</span><br>Age</th>
            <th style="width:66px; vertical-align:middle; text-align: center;"><h4><span class="label label-default">Physical</span></h4></th>
            <th style="width:66px; vertical-align:middle; text-align: center;"><h4><span class="label label-primary"> Social </span></h4></th>
            <th style="width:66px; vertical-align:middle; text-align: center;"><h4><span class="label label-info">Spiritual</span></h4></th>
            <th style="width:66px; vertical-align:middle; text-align: center;"><h4><span class="label label-warning">Intellect</span></h4></th>
            <th style="width:66px; vertical-align:middle; text-align: center;"><h4><span class="label label-danger">Emotional</span></h4></th>
            </tr>
            <tr>
                <th><table style="height:400px; width:100%; vertical-align:middle; text-align: center">
                    <tr><th style="padding:2px;text-align: center; background-color:#D3D3D3">0 - 6</th></tr>
                    <tr><th style="padding:2px;text-align: center; background-color:#C0C0C0">7 - 10</th></tr>
                    <tr><th style="padding:2px;text-align: center; background-color:#A9A9A9">11 - 15</th></tr>
                    <tr><th style="padding:2px;text-align: center; background-color:#808080; color: white">16 - 18</th></tr>
                    <tr><th style="padding:2px;text-align: center; background-color:#696969; color: white">19 - 22</th></tr>
                    <tr><th style="padding:2px;text-align: center; background-color:#494949; color: white">23 - up</th></tr>
                </table></th>
                <td colspan=5 style="width:350px;height:400px">    
                <div id="myDiagramDiv" style="overflow: hidden; width:358px; height: 400px"></div>
                </td>
            </tr>
        </table>
      </div>
      <!--<div class="panel-footer">
        <div class="label-warning text-right"><h4>Stats</h4></div>
      </div>--> 
    </div>  
    </span>
</div>
