<!--
Copyright (c) 2016 and beyond, Farrukh Shahzad
All rights reserved.

Redistribution in source and binary forms, with or without modification, are  NOT permitted.

Free for educational and researh Use. Any commercial use requires copyright holder's permission and royality agreement. 


THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, 
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS 
BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS 
OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, 
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->
<!DOCTYPE html>
<html style="width: 100%;height: 100%" ng-app="myApp" ng-app lang="en">
<!--<html style="width: 100%;height: 100%">-->

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1.5, minimum-scale=0.5, initial-scale=0.75"
    />
    <link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <title>Family Harmony Maps (2017)</title>

    <!--   <link rel="stylesheet" href="css/font-awesome.min.css" />-->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="css/grid.css" rel="stylesheet" type="text/css" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="resources/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="resources/ie-emulation-modes-warning.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="resources/ie10-viewport-bug-workaround.js"></script>

    <script src="resources/jquery.min.js"></script>
    <script src="resources/bootstrap.min.js"></script>
    <script src="resources/angular.min.js"></script>
    <script src="resources/angular-route.min.js"></script>
    <script src="resources/angular-cookies.min.js"></script>


    <script src="authentication/services.js"></script>
    <script src="authentication/controllers.js"></script>
    <script src="app/app2.js"></script>
    
</head>

<body>

    <div class="well well-sm header noPrint">
        <div class="row">
            <div class="col-sm-3">
                <!--<span class="btn btn-primary btn-xs left_button subtitle">Copyright (c) Visonics 2017 and beyond</span>
                <span><input class="btn btn-primary btn-xs left_button" type="button" id="browser" data-toggle="tooltip"
                     data-placement="bottom"
                     title="Toggle between Java and HTML5" value="Browser"
                     onclick="changeApp(false, true);"/>
        </span>-->
            </div>
            <div class="col-sm-6">
                <div class="btn btn-md">
                    <div class="title">Family Harmony Maps</div>
                    <span class="center subtitle">An Interactive Parenting Tool</span>
                </div>
            </div>
            <div class="col-sm-3">
                <span>
        <a href="#login">
        <input ng-show="globals.currentUser" class="btn btn-default btn-xs right_button" type="button" id="logout" value="Logout" />
        </a>       
        </span>

        <span>
        <a href="#loginxxx">
        <input ng-show="!globals.currentUser" class="btn btn-default btn-xs right_button" type="button" id="login" value="Admin Login" />
        </a>  
        </span>
                <span>
        <a href="#edit-customer">
        <input ng-show="globals.currentUser" class="btn btn-default btn-xs right_button" type="button" id="profile" value="Profile" />
        </a>       
        </span>
            </div>
            <!--<span ng-disabled="$rootScope.globals.currentUser">
        <input class="btn btn-primary btn-xs right_button" type="button" id="logout" value="Logout"
               ng-click="/logout" />
         </span>-->
        </div>
    </div>

    <!--<div ng-view="" id="ng-view"></div>-->
    <div style="vertical-align:middle; text-align: center; font-size: 17px">
    <div class="well">

        <p class="text-justify">
            Parenting or child rearing is the process of promoting and supporting the physical, social, spiritual, intellectual and emotional development 
            of a child from infancy to adulthood. Parenting refers to the aspects of raising a child aside from the biological relationship.
        </p>
        <p class="text-justify">
            Many parents enjoy a harmonious relationship with their children prior to their teen years. However, as soon as the children become teenagers or for some complete the first couple of years in college, many parents face some serious challenges with their children to suddenly realize they have been deluded by the prior-teen years. Unfortunately, for many parents, parenting revolves around some of the above core aspects of their children’s development and often gives less attention or even ignores the other ones, which are equally important. In many cases this sudden shift in the children’s behavior, attitude and sometimes even religious beliefs usually comes as a surprise to many parents who are often not equipped to either deal with it or even understand it.  
        </p>
        <p class="text-justify">
            Good parenting is based on a set of educated actions and decisions which honor the child’s physical and psychological development needs from infancy to adolescence, while constantly paying attention to the emotional climate surrounding him/her. Fortunately, the child’s development stages are fairly predictable; therefore, it is the parents' responsibility to learn how to deal with them. As part of growing up children go through a wide range of developmental struggles which catch both children and unprepared parents off guard, which can make it very hard for both to transition through these stages of development. Child development is not just about getting bigger and taller, but also about fitting in and most importantly about the way the child thinks of himself and relates to others including his parents. These complex, yet predictable changes if properly understood and dealt with by the parents can turn parenting into a fun-filled experience rather than a contest for who is winning or losing.
        </p>                 
        <p class="text-justify">
            <b><em>Family Harmony Maps</em></b> is an interactive; color-based; diagnostic parenting method developed by <em>Dr. Mosab Nasser</em> which allows Parents and/or a Family to fill out age-appropriate need maps to be used as input for analysis and scoring. The method was converted into an online tool which analyses the input data, computes a parenting score and provides family-specific and gender-specific harmony maps to serve as direct indicators of how harmonious the relationship between parents and their children is. The data submitted by different families regardless of their country of origin, religion or ethnicity is then collected and stored in a database for further processing and analysis. A number of parameters are evaluated to assess the harmony of a family or a group of families within a community as a function of parents' and children’s country of residence, age, ethnicity and religion to draw certain parenting themes, trends and styles.
        </p>
        <p class="text-justify">
            <b><em>Family Harmony Maps</em></b> can also be used by parenting experts, counselors and psychologists as a quick and easy diagnostic tool to identify areas of harmony, friction and conflicts within a family to help them spend their valuable time on finding solutions to resolve conflicts and bridge gaps rather than diagnosing the problems. It can also be used by researchers to quickly collect, process and analyze large amounts of data in a record time without having to burden parents and children with filling surveys, paper or online forms with many questions that are often not fun for neither the children nor their parents. This tool not only makes the data collection and processing easy and seamless but also makes it fun!
        </p>        
        <!--<p class="text-center">-->
            <a title="Continue to Parent/Children map" href="parenting.html" class="btn btn-lg btn-success">Continue</a>            
        <!--</p>-->
    </div>
    </div>

<footer class="container-fluid" style="width:99%">
    <div class="col-sm-3">
    <span class="glyphicon glyphicon-envelope"></span> info@familyharmonymaps.com</div>
    <div class="col-sm-9 text-right">
  <p>Developed by: <b>Mosab Nasser (Ph.D.)</b><br>
  App created by: <b>Farrukh Shahzad (Ph.D.)</b>
  <br>Copyright (c) Visonics 2017 and beyond</p>
  </div>
</footer>

</body>
</html>